<!-- Main Slider Start -->
<div class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <nav class="navbar bg-light">
          <ul class="navbar-nav">
            <% @parents.each do | p | %>
              <% if p.childrens.empty? %>
                <li class="nav-item" >
                  <%= link_to p.name, "#", class: "nav-link" %>
                </li>
              <% else %>
                <li class="nav-item nav-item-has-child" >
                  <%= link_to p.name, "#", class: "nav-link" %>
                  <ul class="nav-link-child">
                    <% p.childrens.each do | c | %>
                      <li>
                        <%= link_to c.name, "#" %>
                      </li>
                    <% end %>
                  </ul>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <%= image_tag "banner.webp", alt:"Slider Image", class: "img-banner" %>
      </div>
    </div>
  </div>
</div>
<!-- Main Slider End -->

<!-- Feature Start-->
<div class="feature">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fab fa-cc-mastercard"></i>
          <h2>
            <%= t ".feature.payment" %>
          </h2>
         
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-truck"></i>
          <h2><%= t ".feature.delivery" %></h2>
         
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-sync-alt"></i>
          <h2><%= t ".feature.return" %></h2>
          
        </div>
      </div>
      <div class="col-lg-3 col-md-6 feature-col">
        <div class="feature-content">
          <i class="fa fa-comments"></i>
          <h2><%= t ".feature.support" %></h2>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End-->

<!-- Featured Product Start -->
<div class="featured-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1><%= t ".session.recent_product" %></h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">
      <%= render "shared/list_product", products: @products %>
    </div>
  </div>
</div>
<!-- Featured Product End -->

<!-- Recent Product Start -->
<div class="recent-product product">
  <div class="container-fluid">
    <div class="section-header">
      <h1><%= t ".session.recent_product" %></h1>
    </div>
    <div class="row align-items-center product-slider product-slider-4">
      <div class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a href="#">Product Name</a>
            <div class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="product-image">
            <a href="product-detail.html">
              <%= image_tag "product-6.jpg", alt:"Product Image" %>
            </a>
            <div class="product-action">
              <a href="#"><i class="fa fa-cart-plus"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>$</span>99</h3>
            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a href="#">Product Name</a>
            <div class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="product-image">
            <a href="product-detail.html">
              <%= image_tag "product-7.jpg", alt:"Product Image" %>
            </a>
            <div class="product-action">
              <a href="#"><i class="fa fa-cart-plus"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>$</span>99</h3>
            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a href="#">Product Name</a>
            <div class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="product-image">
            <a href="product-detail.html">
              <%= image_tag "product-8.jpg", alt:"Product Image" %>
            </a>
            <div class="product-action">
              <a href="#"><i class="fa fa-cart-plus"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>$</span>99</h3>
            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="product-item">
          <div class="product-title">
            <a href="#">Product Name</a>
            <div class="ratting">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="product-image">
            <a href="product-detail.html">
              <%= image_tag "product-9.jpg", alt:"Product Image" %>
            </a>
            <div class="product-action">
              <a href="#"><i class="fa fa-cart-plus"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
              <a href="#"><i class="fa fa-search"></i></a>
            </div>
          </div>
          <div class="product-price">
            <h3><span>$</span>99</h3>
            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent Product End -->


