<% products.each do |x| %>
  <div class="col-lg-3">
    <div class="product-item">
      <div class="product-title">
        <%= link_to x.name, edit_product_path(x[:id]) %>
        <div class="ratting">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
      <div class="product-image">
        <a href="product-detail.html">
          <%= image_tag x.image, alt:"Product Image" if x.image.attached? %>
        </a>
        <div class="product-action">
          <a href="#"><i class="fa fa-cart-plus"></i></a>
          <a href="#"><i class="fa fa-heart"></i></a>
          <a href="#"><i class="fa fa-search"></i></a>
        </div>
      </div>
      <%= hidden_field_tag :message_add_cart, t("common.flash.add_cart_success") %>
      <%= hidden_field_tag :trigger_show_toast %>
      <%= hidden_field_tag :type_add_car, t("common.flash.success") %>
      <%= form_for :cart, url: carts_path, remote: true do |f| %>
        <div class="product-price">
          <%= hidden_field_tag :quatity, 1 %>
          <%= hidden_field_tag :product_id, x.id %>
          <h3> <%=  number_to_currency(x.price) %> </h3>
            <%= button_tag(class: "btn btn-buy") do %>
              <%= t "static_pages.home.btn_buy" %>
              <i class="fa fa-shopping-cart"></i>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
