<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div class="table-responsive">
  <%= link_to t(".btn_create"), new_admin_product_path, class: "btn btn-create" %>
    <table class="table table-striped table-sm table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th><%= t ".title_img" %></th>
          <th><%= t ".title_name" %></th>
          <th><%= t ".title_quatity" %></th>
          <th><%= t ".title_price" %></th>
          <th><%= t ".title_category" %></th>
          <th><%= t ".title_action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each_with_index  do |i, index| %>
          <tr id="table-item">
            <td><%= index + 1 %></td>
            <td><%= image_tag i.image , class: "img-product" if i.image.attached? %></td>
            <td><%= i[:name] %></td>
            <td><%= i[:quatity] %></td>
            <td><%= number_to_currency(i[:price]) %></td>
            <td><%= i.category[:name] %></td>
            <td>
              <%= link_to t(".btn_update"), edit_admin_product_path(i[:id]), class: "btn btn-update" %>
              <%= link_to t(".btn_delete"), "#", class: "btn btn-delete" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @products %>
  </div>
</main>
