<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= t "admin.dashboard.title" %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= t "admin.dashboard.btn_share" %></button>
        <button type="button" class="btn btn-sm btn-outline-secondary"><%= t "admin.dashboard.btn_export" %></button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        <%= t "admin.dashboard.this_week" %>
      </button>
    </div>
  </div>
  <div class="wrapper-content">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-content">
            <div class="info">
              <%= label_tag "", @customer_number %>
              <i class="fas fa-users"></i>
            </div>
            <div class="text"><%= t "admin.dashboard.customer" %></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-content">
            <div class="info">
              <%= label_tag "", @product_number %>
              <i class="fas fa-shopping-cart icon-dash"></i>
            </div>
            <div class="text"><%= t "admin.dashboard.product" %></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-content">
            <div class="info">
              <%= label_tag "", @order_number %>
              <i class="far fa-file icon-dash"></i>
            </div>
            <div class="text"><%= t "admin.dashboard.order" %></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-content">
            <div class="info info-small">
              <%= label_tag "", number_to_currency(@total) %>
              <i class="fas fa-money-bill-wave-alt"></i>
            </div>
            <div class="text"><%= t "admin.dashboard.total" %></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row" style="padding: 15px">
      <div class="col-md-12 chart">
        <%= line_chart(@data_chart) %>
      </div>
    </div>
  </div>
</main>
